.graph{
    width: 90%;
    padding: 0 5px;
    display: flex;
    height: 33vh;
    flex-direction: column;
    background: #fff;
    border-radius: 15px;
    margin: 1rem 0.8rem;
   &-header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 5vh;
    padding: 0.5rem 1rem;

    &-l{
        display: flex;
        .box{
            height: 10px;
    width: 10px;
    border-radius: 100%;
    background: rgb(42, 165, 61);
    display: flex;
    margin-right: 10px;
    margin-top: 12.5px;
        }
        p{
            margin-top: 8px;  
        }

    }
    &-r{
        display: flex;
        .box{
            height: 10px;
            width: 10px;
            border-radius: 100%;
    background: rgb(189, 10, 10);
    display: flex;
    margin-right: 10px;
    margin-top: 12.5px;
        }
        p{
            margin-top: 8px;  
        }
    }
   }

   &-fig{
    text-align: start;
    padding: 0 0px;
    width: 100%;
    margin: 0;
   h1{
    margin: 0;
   }
   &-s{
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin: 0;

        .red{
            background: #f70000;
            padding: 2.5px;
            color: #fff;
            border-radius: 50px;
        }
    
   }
   }

   &-footer{
    display: flex;
    justify-content: start;
    text-align: center;
    padding: 0 15px;
    font-weight: 800;
    position: absolute;
    margin-top: 11rem;
   }
}