
$col-white:#fff;
$col-black:#000;
.bottomNav{
    width: 98%;
    position: fixed;
    bottom: 0;
    padding: 0 5px;
    display: flex;
    height: 8vh;
    justify-content: space-around;
    background: $col-white ;

    a{
        width: 20%;
        border: none;
        background: transparent;
        padding: 15px;
        text-align: center;
        svg {
            transition: fill 0.3s ease; 
          }
        &:hover {
            svg {
              fill: $col-black;
            }
          }
    }
 

}