.App {
.documentation{
  display: none;
  @media screen and (min-width: 800px) {
  
    display: block;
    text-align: center;
    padding: 50vh 0;
  }
}
  .main{
    display: block;
    overflow-y:scroll;
    @media screen and (min-width: 800px) {
      display: none;
    }
    
  }
}

