@font-face {
  font-family: "m";
  src: url('./fonts/SuisseIntl-Book.8593fb66.woff2') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

$primary-font: 'm';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #80808061;
  font-family: $primary-font;
  color: rgb(69, 69, 69);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
